body{
    margin: 0;
}

header{
   padding: 2em 0;
   background: #f8f8f8;
   text-align: center;
   color: #1792D2;
}
h1{
    color: #143774;
    font-size: 2rem;
}

nav ul{
    display: flex;
    justify-content:center;
    font-size: 1rem;
    list-style: none;
}
nav li{
    margin: 0 1em;
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
    color: #707070;
    border-bottom: 1px solid  #707070;
}
nav a:hover, nav a:focus{   
    color: #1792D2;
    border-bottom: none;
}